<%- include('./layout/header.ejs')%>
  <body>
      <%- include('./layout/navbar.ejs')%>
    <div  class="mb-3 sign-up">
        <h5>Quote: <%=quote%></h5>
      <p class="text-start">
        Enter your email to join the community of
        <span class="count">12</span> book lovers. Amet consectetur
        adipisicing elit. Sint, eos corporis. Laudantium sequi rerum iste.
      </p>
      <form
        action="/test"
        method="POST"
        class="newsletter-form d-flex flex-column justify-content-start align-items-start flex-md-row align-items-md-end"
        id="sign-up-form"
      >
        <input
          name="email"
          type="email"
          class="p-2 mt-2 w-75"
          placeholder="Your email address"
          id="email-value"
        />
        <button
         type="submit"
          class="btn btn-custom btn-light test p-2 mt-4 ms-md-3"
        >
          Join Now
        </button>
      </form>
    </div>
    <div class="add-info"><p>additional info</p></div>
    <%- include('./layout/footer.ejs')%>
  </body>
</html>
